Repository samhwang/three-tier-serverless-cdk: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/frontend && eslint --cache --fix, prettier --write, cd packages/lambda && eslint --cache --fix

.lintstagedrc.json:

{
    "packages/frontend/**/*.{ts,tsx}": [
        "cd packages/frontend && eslint --cache --fix",
        "prettier --write"
    ],
    "packages/lambda/**/*.ts": [
        "cd packages/lambda && eslint --cache --fix",
        "prettier --write"
    ]
}

Migrate from Yarn to use NPM
  .prettierignore
  README.md
  package-lock.json
  package.json
  packages/frontend/README.md
  packages/frontend/package.json
  packages/lambda/package.json
  yarn.lock
Due: none

Move CDK Constructs into a workspace
  .eslintignore
  .lintstagedrc.json
  cdk.json
  jest.config.ts
  package-lock.json
  package.json
  packages/infrastructure/bin/app.ts
  packages/infrastructure/cdk.context.json
  packages/infrastructure/cdk.json
  packages/infrastructure/jest.config.ts
  packages/infrastructure/lib/app-stack.test.ts
  packages/infrastructure/lib/app-stack.ts
  packages/infrastructure/lib/appBEConstruct.ts
  packages/infrastructure/lib/appFEConstruct.ts
  packages/infrastructure/lib/interface.ts
  packages/infrastructure/migrateAurora.sh
  packages/infrastructure/package.json
  packages/infrastructure/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: none

Replace Frontend set up with Vite
  .eslintrc.json
  package-lock.json
  packages/frontend/.browserslistrc
  packages/frontend/.env
  packages/frontend/.eslintrc.json
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/craco.config.js
  packages/frontend/index.html
  packages/frontend/jest.config.ts
  packages/frontend/package.json
  packages/frontend/public/favicon.ico
  packages/frontend/public/favicon.svg
  packages/frontend/public/index.html
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/public/manifest.json
  packages/frontend/public/mockServiceWorker.js
  packages/frontend/public/robots.txt
  packages/frontend/relay.config.js
  packages/frontend/src/components/App.tsx
  packages/frontend/src/components/__generated__/AppQuery.graphql.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/mocks/browser.ts
  packages/frontend/src/mocks/handlers.ts
  packages/frontend/src/mocks/server.ts
  packages/frontend/src/react-app-env.d.ts
  packages/frontend/src/reportWebVitals.ts
  packages/frontend/src/setupTests.ts
  packages/frontend/src/vite-env.d.ts
  packages/frontend/tsconfig.json
  packages/frontend/utils/file-stub.js
  packages/frontend/utils/setupTests.ts
  packages/frontend/vite.config.ts
  packages/lambda/.eslintrc.json
Due: cd packages/frontend && eslint --cache --fix, prettier --write

Add notes on Bootstrapping process
  README.md
Due: none

Update NPM Scripts
  package.json
  packages/infrastructure/package.json
  packages/lambda/package.json
Due: none

Generate user types
  packages/lambda/src/graphql/User/UserModel.ts
  packages/lambda/src/graphql/User/UserQuery.ts
  packages/lambda/src/graphql/User/index.ts
  packages/lambda/src/graphql/index.ts
  packages/lambda/src/schema-types.gen.ts
  packages/lambda/src/schema.graphql
Due: prettier --write, cd packages/lambda && eslint --cache --fix

Add a local db docker container to use in development
  package-lock.json
  packages/lambda/.gitignore
  packages/lambda/docker-compose.yml
  packages/lambda/package.json
Due: none

Update User model
  packages/lambda/prisma/schema.prisma
Due: none

Update sample db migration
  packages/lambda/prisma/migrations/20211026224820_/migration.sql
Due: none

Add Node and Relay interface type
  package-lock.json
  packages/lambda/package.json
  packages/lambda/src/graphql/Hello/index.ts
  packages/lambda/src/graphql/Interface/Node.ts
  packages/lambda/src/graphql/Interface/RelayId.ts
  packages/lambda/src/graphql/Interface/index.ts
  packages/lambda/src/graphql/index.ts
  packages/lambda/src/graphql/resolver/hello.ts
  packages/lambda/src/schema-types.gen.ts
  packages/lambda/src/schema.graphql
Due: prettier --write, cd packages/lambda && eslint --cache --fix

Update Nexus Configurations
  .eslintrc.json
  package-lock.json
  packages/lambda/package.json
  packages/lambda/prisma/schema.prisma
  packages/lambda/src/graphql/context/index.ts
  packages/lambda/src/graphql/index.ts
  packages/lambda/src/schema-types.d.ts
  packages/lambda/src/schema-types.gen.ts
  packages/lambda/src/schema.graphql
  packages/lambda/src/server.ts
Due: prettier --write, cd packages/lambda && eslint --cache --fix

Add testing library plugin for frontend linting
  package-lock.json
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
Due: none

Fix typos in running cdk deploy
  packages/infrastructure/cdk.json
  packages/infrastructure/lib/appBEConstruct.ts
Due: none

Separate Backend into db and network constructs
  packages/infrastructure/lib/app-stack.ts
  packages/infrastructure/lib/appBEConstruct.ts
  packages/infrastructure/lib/appDBConstruct.ts
  packages/infrastructure/lib/appFEConstruct.ts
  packages/infrastructure/lib/appNetworkContructs.ts
Due: none

Replace RestGateway with HTTP Gateway
  package-lock.json
  package.json
  packages/infrastructure/lib/app-stack.ts
  packages/infrastructure/lib/appBEConstruct.ts
  packages/infrastructure/package.json
Due: none

Install esno to run scripts instead of ts-node
  package-lock.json
  package.json
  packages/lambda/package.json
Due: none

Update dependencies and CDK v2
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/infrastructure/bin/app.ts
  packages/infrastructure/cdk.json
  packages/infrastructure/lib/app-stack.test.ts
  packages/infrastructure/lib/app-stack.ts
  packages/infrastructure/lib/appBEConstruct.ts
  packages/infrastructure/lib/appDBConstruct.ts
  packages/infrastructure/lib/appFEConstruct.ts
  packages/infrastructure/lib/appNetworkContructs.ts
  packages/infrastructure/package.json
  packages/lambda/package.json
Due: none

Remove package-lock file from tracking
  package-lock.json
Due: none

Encode the secret to the lambda runtime instead of retrieve from SSM during runtime
  packages/infrastructure/lib/app-api-stack.ts
  packages/lambda/src/db.ts
Due: prettier --write, cd packages/lambda && eslint --cache --fix

Make client app bundle during CDK deployment
  packages/infrastructure/lib/app-client-stack.ts
Due: none

Restructure the stack code to use separate stacks
  packages/infrastructure/bin/app.ts
  packages/infrastructure/lib/app-api-stack.ts
  packages/infrastructure/lib/app-client-stack.ts
  packages/infrastructure/lib/app-db-stack.ts
  packages/infrastructure/lib/app-network-stack.ts
  packages/infrastructure/lib/app-stack.test.ts
  packages/infrastructure/lib/appFEConstruct.ts
  packages/infrastructure/lib/interface.ts
Due: none

Replace EC2 JumpBox with the Lambda migrate runner
  README.md
  packages/infrastructure/cdk.context.json
  packages/infrastructure/lib/app-api-stack.ts
  packages/infrastructure/lib/app-network-stack.ts
  packages/infrastructure/migrateAurora.sh
  packages/infrastructure/package.json
  packages/infrastructure/scripts/run-migrate.ts
  packages/lambda/package.json
  packages/lambda/src/migration-runner.ts
Due: prettier --write, cd packages/lambda && eslint --cache --fix

Update frontend code to React 18 and new relay vite and relay config
  packages/frontend/.eslintrc.json
  packages/frontend/relay.config.js
  packages/frontend/src/components/__generated__/AppQuery.graphql.ts
  packages/frontend/src/main.tsx
  packages/frontend/tsconfig.dev.json
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
Due: cd packages/frontend && eslint --cache --fix, prettier --write

Remove reference to Jumpbox
  README.md
Due: none

Add turbo package
  package.json
Due: none

Add turbo config
  .gitignore
  packages/frontend/package.json
  packages/lambda/package.json
  turbo.json
Due: none

Fix frontend linting errors
  packages/frontend/.eslintrc.json
  packages/frontend/src/components/App.tsx
Due: cd packages/frontend && eslint --cache --fix, prettier --write

Add deploy turbo command
  turbo.json
Due: none

Replace root package commands with Turbo
  package.json
Due: none

Update README.md
  README.md
Due: none

Add package manager field to package.json for turbo
  package.json
Due: none

Move DB Secret out into an attribute of API Stack
  packages/infrastructure/lib/app-api-stack.ts
Due: none
